@model ContactInformation

<h1>Thank You, @Model.FirstName</h1>
<br />
<p>Thank you for contacting us, we will reach out to you as soon as possible.</p>
<br />
<a href="../home/ContactForm">Click here to add another message</a>
<footer>
    <p class="text-muted">whatever it takes | work hard, play hard | we are a team | be fearless | foster growth in others | care | be positive </p>
</footer>